header{
    color:white;
    background-color: #474747;
    
}
h1 {
    text-align: center;
    background-color: #474747 ;
}


h2 {
    text-align: center;
    
}

section {
    background-color: #AD343E;
    margin-bottom: 0;
    position: relative;
    width: 100vw;
    height: 50vh;
}


section p {
    color: white;
    margin: 0;
}

/* help from stack overlow https://stackoverflow.com/questions/5817233/align-button-at-the-bottom-of-div-using-css */
.btn {
    position:absolute;
    right: 15px;
    bottom: 20px;
    color: #ffffff;
   width: 8%;
   height: 15%;
  }

  .jumbotron.jumbotron-fluid {
    margin-bottom: 0;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

#quiz{
    background-image: url(../images/quiz.jpg);
}

#newsLetter{
    background-image: url(../images/newsletter-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}